<div class="carousel-box owl-wrapper">

    <div class="title-section">
        <h1><span class="world">Образ жизни</span></h1>
    </div>

    <div class="owl-carousel mainview2" data-num="2">

        <div class="item" *ngFor="let cont of content">
            <div class="news-post image-post2">
                <div class="post-gallery">
                    <img src="http://portamur.alfasco.ru{{cont[0].value.img[0].value}}" alt="" style="max-width:368px; max-height: 300px">
                    <div class="hover-box">
                        <div class="inner-hover">
                            <h2><a href="single-post.html">{{cont[0].value.subsection[0].value}}</a></h2>
                            <ul class="post-tags">
                                <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                <li><i class="fa fa-user"></i>by <a href="#">John Doe</a></li>
                                <li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
                                <li><i class="fa fa-eye"></i>872</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <ul class="list-posts">
                <li *ngFor="let cont1 of cont[1]">
                    <img src="http://portamur.alfasco.ru{{cont1.value.img[0].value}}" alt="" style="max-width:100px; max-height: 80px">
                    <div class="post-content">
                        <h2><a href="single-post.html">{{cont1.value.tit}}</a></h2>
                        <ul class="post-tags">
                            <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
