<div class="masonry-box">

    <div class="title-section">
        <h1><span>Latest Articles</span></h1>
    </div>

    <div class="latest-articles iso-call">

        <div class="news-post standard-post2 default-size">
            <div class="post-gallery">
                <img src="upload/news-posts/1.jpg" alt="">
            </div>
            <div class="post-title">
                <h2><a href="single-post.html">Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. </a></h2>
                <ul class="post-tags">
                    <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                    <li><i class="fa fa-user"></i>by <a href="#">John Doe</a></li>
                    <li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
                </ul>
            </div>
        </div>

        <div class="news-post standard-post2">
            <div class="post-gallery">
                <img src="upload/news-posts/2.jpg" alt="">
            </div>
            <div class="post-title">
                <h2><a href="single-post.html">Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. </a></h2>
                <ul class="post-tags">
                    <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                    <li><i class="fa fa-user"></i>by <a href="#">John Doe</a></li>
                    <li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
                </ul>
            </div>
        </div>

        <div class="news-post standard-post2">
            <div class="post-gallery">
                <img src="upload/news-posts/3.jpg" alt="">
            </div>
            <div class="post-title">
                <h2><a href="single-post.html">Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. </a></h2>
                <ul class="post-tags">
                    <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                    <li><i class="fa fa-user"></i>by <a href="#">John Doe</a></li>
                    <li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
                </ul>
            </div>
        </div>

        <div class="news-post standard-post2">
            <div class="post-gallery">
                <img src="upload/news-posts/4.jpg" alt="">
            </div>
            <div class="post-title">
                <h2><a href="single-post.html">Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. </a></h2>
                <ul class="post-tags">
                    <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                    <li><i class="fa fa-user"></i>by <a href="#">John Doe</a></li>
                    <li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
                </ul>
            </div>
        </div>

        <div class="news-post standard-post2">
            <div class="post-gallery">
                <img src="upload/news-posts/5.jpg" alt="">
            </div>
            <div class="post-title">
                <h2><a href="single-post.html">Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. </a></h2>
                <ul class="post-tags">
                    <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                    <li><i class="fa fa-user"></i>by <a href="#">John Doe</a></li>
                    <li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
                </ul>
            </div>
        </div>

        <div class="news-post standard-post2">
            <div class="post-gallery">
                <img src="upload/news-posts/6.jpg" alt="">
            </div>
            <div class="post-title">
                <h2><a href="single-post.html">Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. </a></h2>
                <ul class="post-tags">
                    <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                    <li><i class="fa fa-user"></i>by <a href="#">John Doe</a></li>
                    <li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
                </ul>
            </div>
        </div>

    </div>

</div>
