<div class='row'>
    <div class='col-sm-8'>
        <div class='block-content'>
            <MainView2Component idComponent='63f4c588c76340a5a4cbd5759a9fea87'></MainView2Component>
            <MainGalleryComponent idComponent='63f4c588c76340a5a4cbd5759a9206ba'></MainGalleryComponent>
            <MainVideoComponent idComponent='63f4c588c76340a5a4cbd5759aa062b8'></MainVideoComponent>
            <MainView1Component idComponent='63f4c588c76340a5a4cbd5759aa8c7c9'></MainView1Component>
        </div>
    </div>
    <div class='col-sm-4'>
        <div class='block-content'>
            <WidgetViewComponent idComponent='63f4c588c76340a5a4cbd5759aa3acd5'></WidgetViewComponent>
        </div>
    </div>
</div>
</div>
</section>
