<form action="https://perfectmoney.is/api/step1.asp" method="POST">
    <input type="hidden" name="PAYEE_ACCOUNT" value="U13089790">
    <input type="hidden" name="PAYEE_NAME" value="asdfasdf">
    <input type="hidden" name="PAYMENT_ID" value="asdfadsf">
    <input type="hidden" name="PAYMENT_AMOUNT" value="10">
    <input type="hidden" name="PAYMENT_UNITS" value="USD">
    <input type="hidden" name="STATUS_URL" value="">
    <input type="hidden" name="PAYMENT_URL" value="https://telegram.me/ZarabotokBot?start=AIKdkdxEhRfWhtAdSkbNTHoYnDHzBG">
    <input type="hidden" name="PAYMENT_URL_METHOD" value="LINK">
    <input type="hidden" name="NOPAYMENT_URL" value="https://telegram.me/ZarabotokBot?start=AIKdkdxEhRfWhtAdSkbNTHoYnDHzBG">
    <input type="hidden" name="NOPAYMENT_URL_METHOD" value="LINK">
    <input type="hidden" name="SUGGESTED_MEMO" value="">
    <input type="hidden" name="BAGGAGE_FIELDS" value="">
    <input type="submit" name="PAYMENT_METHOD" value="Pay Now!">
</form>


<form method="POST" action="https://money.yandex.ru/quickpay/confirm.xml">
    <input type="hidden" name="receiver" value="410013129836017">
    <input type="hidden" name="formcomment" value="Проект «Железный человек»: реактор холодного ядерного синтеза">
    <input type="hidden" name="short-dest" value="Проект «Железный человек»: реактор холодного ядерного синтеза">
    <input type="hidden" name="label" value="$order_id">
    <input type="hidden" name="quickpay-form" value="donate">
    <input type="hidden" name="targets" value="Пополнение баланса">
    <input type="hidden" name="sum" value="4568.25" data-type="number">
    <input type="hidden" name="comment" value="Хотелось бы дистанционного управления.">
    <input type="hidden" name="need-fio" value="false">
    <input type="hidden" name="need-email" value="false">
    <input type="hidden" name="need-phone" value="false">
    <input type="hidden" name="need-address" value="false">
    <label><input type="radio" name="paymentType" value="PC">Яндекс.Деньгами</label>
    <label><input type="radio" name="paymentType" value="AC">Банковской картой</label>
    <input type="submit" value="Перевести">
</form>
