<html>

<head>
    <title>Амур</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">

    <script src="scripts/app.min.js"></script>
    <script>
        System.import('app').catch(function(err) {
            console.error(err);
        });
    </script>
    <script src="https://yastatic.net/share2/share.js" async="async"></script>
</head>

<body class="boxed">
    <div id="mainPreloader" class="bubblingG" style="position: absolute;top: 0;right: 0;left: 0;bottom: 0;">
        <span id="bubblingG_1"> </span>
        <span id="bubblingG_2"> </span>
        <span id="bubblingG_3"> </span>
    </div>
    <my-app class="hide"></my-app>
    <script src="scripts/scripts.min.js"></script>
</body>

</html>
