<html>

<head>
    <title>Амур</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
</head>

<body class="boxed">
    <div id="mainPreloader" class="bubblingG" style="position: absolute;top: 0;right: 0;left: 0;bottom: 0;">
        <div id="floatingCirclesG">
            <div class="f_circleG" id="frotateG_01"></div>
            <div class="f_circleG" id="frotateG_02"></div>
            <div class="f_circleG" id="frotateG_03"></div>
            <div class="f_circleG" id="frotateG_04"></div>
            <div class="f_circleG" id="frotateG_05"></div>
            <div class="f_circleG" id="frotateG_06"></div>
            <div class="f_circleG" id="frotateG_07"></div>
            <div class="f_circleG" id="frotateG_08"></div>
        </div>
    </div>
    <my-app class="hide"></my-app>
    <script src="scripts/scripts.min.js"></script>
    <script src="scripts/app.min.js"></script>
    <script src="https://yastatic.net/share2/share.js" async="async"></script>
    <script type="text/javascript">
        document.onkeydown = function(e) {
            e = e || window.event;
            if (e.ctrlKey && e.keyCode == 13) {
                alert('Спасибо, сообщение об ошибке отправлено!');
                $.get('https://docs.google.com/forms/d/e/1FAIpQLSff1-dazmaw1VfhlCRYYVlzhWdcyYxDiHzSAjuWQqlWkm-ppg/formResponse?entry.889225147=' + window.getSelection().toString() + '&entry.1576678408=' + window.location,
                    "json");
            }
            return true;
        }
    </script>
</body>

</html>
